<div class="row m-0 pad-20">
  <div class="col-md-12">

  <div class="row">
      <div class="col-md-12">
          <label class="label-mp" for="">First & Last Name</label>
        <div class="input-container">
          <input type="text" class="form-control rectangle-fristname" placeholder="First & Last Name">&nbsp;&nbsp;
          <button class="rectangle-cancle" routerLink="/directory">Cancel</button>&nbsp;&nbsp;
          <button class="rectangle-save">Save</button>
        </div>
      </div>
    </div>
  
    <div class="row ">
      <div class="col-md-6">
        <div>
        <label class="label-mp" for="">Also Known As</label>
        <input type="text" class="form-control" name="" id="" placeholder="Aka name">
        </div>
            <div>
            <label class="label-mp" for="">Title</label>
            <input type="text" class="form-control" name="" id="" placeholder="Title">
            </div>
                <div>
                <label class="label-mp" for="">IPI Name Number</label>
                <input type="text" class="form-control" name="" id="" placeholder="181291">
                </div>
                <div>
                <label class="label-mp" for="">Assign this contact to a number of lists</label>
                <select class="form-control" name="" id="">
                  <option>1</option>
                  <option>2</option>
                </select>
                </div>

                <div>
                <br>
                <h6 class="white">Company</h6>
                <label class="label-mp" for="">Company</label>
                <input type="text" class="form-control" name="" id="" placeholder="company">
                </div>
                <div>
                <label class="label-mp" for="">Copub</label>
                <input type="text" class="form-control" name="" id="" placeholder="copub">
                </div>

                <div>
                <br>
                <h6 class="white">Contact</h6>
                <label class="label-mp" for="">Mobile Number</label>
                <input type="number" class="form-control" name="" id="" placeholder="+ 1555">
                </div>
                <div>
                <label class="label-mp" for="">Office Number</label>
                <input type="text" class="form-control" name="" id="" placeholder="(  )-">
                </div>
                <div>
                <label class="label-mp" for="">Email Address</label>
                <input type="text" class="form-control" name="" id="" placeholder="email address">
                </div>

                <div>
                <br>
                <h6 class="white">Mailing Address</h6>
                <label class="label-mp" for="">Address 1</label>
                <input type="text" class="form-control" name="" id="" placeholder="address1">
                </div>
                <div>
                <label class="label-mp" for="">Address 2 (Apartment Number)</label>
                <input type="text" class="form-control" name="" id="" placeholder="address2">
                </div>
                <div class="row">
                <div class="col-md-6">
                <label class="label-mp" for="">City</label>
                <input type="text" class="form-control" name="" id="" placeholder="city">
                </div>
                <div class="col-md-6">
                <label class="label-mp" for="">State</label>
                <select class="form-control" name="" id="">
                    <option>Tennessee</option>
                    <option>2</option>
                </select>
                </div>
                </div>
                <div class="row">
                <div class="col-md-6">
                <label class="label-mp" for="">Zip</label>
                <input type="text" class="form-control" name="" id="" placeholder="zip">
                </div>
                </div>
      </div>
      <div class="col-md-6">
          <label class="label-mp" for="">Notes</label>
          <textarea  class="form-control" name="" id="" style="height: 100%" placeholder="Notes go here"></textarea>>
        </div>
    </div>
 


  </div>
</div>