ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    color: white;
    display: inline;
  }

  .folder-trash-div {
    margin-right: 2%;
    float: right;
    font-size: initial;
    color: white;
  }

  .folder-trash-icon {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }

  .confirmation-modal  {
    color: white;
  }

  .confirm-btn {
    margin-right: 2%;
  }

  .decline-btn {
    background-color: grey;
    border-color: #28dccf;
  }


  .title {
    cursor: pointer;
  }

  .loading-spinner {
    width: 350%;
  }