<div class="row m-0 pad-20" >


 <div class="col-md-4 ">
<!-- top pitch list  -->
    <div class="card border-grey">
      <div class="top-pitchlist text-white" [ngStyle]="{'background-image': 'url(' + photo + ')'}">
        <div class="row">
          <div class="col-md-6">
            <div class="top-pitchlist-title bg-pink">Top PitchList</div>
          </div>
          <div class="col-md-6 text-right ">
            <i class="la la-2x la-edit "></i>
            <i class="la la-2x la-external-link"></i>

          </div>
        </div>

        <h3 class=" font-weight-bold">Pitchlist Title</h3>
        <small>Project Name Here</small>
      </div>
      <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/g-eazy.png" class="card-img-top" > -->
      <div class="card-body p-1">

        <div class="tracks">

          <div class="track">

            <div class="track__art">

              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/whenDarkOut.jpg" alt="When It's Dark Out">

            </div>
            <div class="track__title">Song Tittle

              <div class="small text-light text-grey">.mp3</div>
            </div>

            <div class="track__number">2</div>

            <div class="track__added">
              <div class="track-play" (click)="playMusic()">
                <i class="ion-ios-play play la-2x"></i>
              </div>



            </div>


          </div>



          <div class="track">

            <div class="track__art">

              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/tth.jpg" alt="These Things Happen">

            </div>
            <div class="track__title">Song Tittle

              <div class="small text-light text-grey">.mp3</div>
            </div>

            <div class="track__number">2</div>

            <div class="track__added">
              <div class="track-play">
                <i class="ion-ios-play play la-2x"></i>
              </div>



            </div>


          </div>

          <div class="pitch-selectmore p-3 ">See Pitchlist here <i class="la la-x la-angle-right"></i> </div>
        </div>




      </div>
    </div>
<!-- top pitch list  -->
  </div>



    <div class="col-md-4">
<!-- topsongs start  -->
<div class="card border-grey ">
    <div class="top-pitchlist text-white" [ngStyle]="{'background-image': 'url(' + topSongPhoto + ')'}">

      <div class="row">
        <div class="col-md-6">
          <div class="top-pitchlist-title bg-green">Top Song</div>
        </div>
        <div class="col-md-6 text-right text-light-grey ">
          <i class="la la-2x la-edit "></i>
          <i class="la la-2x la-external-link"></i>

        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-xs-6">
            <h5 class=" font-weight-bold">Total Plays</h5>
            <h4>22,634</h4>
            <h5 class="pt-1 font-weight-bold">Pitchlists   <i class="la la-x la-angle-right"></i></h5>
            <h4>24</h4>
        </div>
        <div class="col-md-6 col-xs-6 ">
          <h5 class="pad-top-3">Deep Cuts</h5>
        </div>
      </div>
      



    </div>
    <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/g-eazy.png" class="card-img-top" > -->
    <div class="card-body ">

      <div class="tracks top-song-detail">
        <div class="row">
          <div class="col-md-8 col-xs-8">
            <div class="h3 text-white ">The very deepest cuts</div>
            <small class="text-white">Deep Cuts,Blake shelton</small>
          </div>
          <div class="col-md-4 col-xs-4">
              <div class="track-topsong"> 
                  <i class="ion-ios-play play la-5x" ></i>
              </div>
         
                 
          </div>
        </div>
       

        <!-- <div class="pitch-selectmore p-3 ">See Pitchlist <i class="la la-x la-angle-right"></i> </div> -->
      </div>

    </div>
  </div>
<!-- topsongs end  -->

    </div>



    <div class="col-md-4">
        <!-- Media Added start  -->
        <div class="card ">
            <h4 class="text-white">Media Added  <i class="la la-x la-angle-right"></i></h4>
            <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/g-eazy.png" class="card-img-top" > -->
            <div class="card-body p-1">
      
              <div class="tracks">
      
                <div class="track">
      
                  <div class="track__art">
      
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/whenDarkOut.jpg" alt="When It's Dark Out">
      
                  </div>
                  <div class="track__name">Song Tittle
      
                    <div class="small text-light text-grey">.mp3</div>
                  </div>
      
                  <div class="track__min">2 mins ago</div>
      
                  <div class="track__added">
                    <div class="track-play">
                      <i class="ion-ios-play play la-2x"></i>
                    </div>
      
      
      
                  </div>
      
      
                </div>
                <div class="track">
      
                    <div class="track__art">
        
                      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/whenDarkOut.jpg" alt="When It's Dark Out">
        
                    </div>
                    <div class="track__name">Song Tittle
        
                      <div class="small text-light text-grey">.mp3</div>
                    </div>
        
                    <div class="track__min">2 mins ago</div>
        
                    <div class="track__added">
                      <div class="track-play">
                        <i class="ion-ios-play play la-2x"></i>
                      </div>
        
        
        
                    </div>
        
        
                  </div>
                <div class="track">
      
                  <div class="track__art">
      
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/tth.jpg" alt="These Things Happen">
      
                  </div>
                  <div class="track__name">Song Tittle
      
                    <div class="small text-light text-grey">.mp3</div>
                  </div>
      
                  <div class="track__min">20 min ago</div>
      
                  <div class="track__added">
                    <div class="track-play">
                      <i class="ion-ios-play play la-2x"></i>
                    </div>
      
      
      
                  </div>
      
      
                </div>
                <div class="track">
      
                    <div class="track__art">
        
                      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/whenDarkOut.jpg" alt="When It's Dark Out">
        
                    </div>
                    <div class="track__name">Song Tittle
        
                      <div class="small text-light text-grey">.mp3</div>
                    </div>
        
                    <div class="track__min">2 mins ago</div>
        
                    <div class="track__added">
                      <div class="track-play">
                        <i class="ion-ios-play play la-2x"></i>
                      </div>
        
        
        
                    </div>
        
        
                  </div>
              

                  <div class="track">
      
                      <div class="track__art">
          
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/tth.jpg" alt="These Things Happen">
          
                      </div>
                      <div class="track__name">Song Tittle
          
                        <div class="small text-light text-grey">.mp3</div>
                      </div>
          
                      <div class="track__min">20 min ago</div>
          
                      <div class="track__added">
                        <div class="track-play">
                          <i class="ion-ios-play play la-2x"></i>
                        </div>
          
          
          
                      </div>
          
          
                    </div>

                    <div class="track">
      
                        <div class="track__art">
            
                          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/whenDarkOut.jpg" alt="When It's Dark Out">
            
                        </div>
                        <div class="track__name">Song Tittle
            
                          <div class="small text-light text-grey">.mp3</div>
                        </div>
            
                        <div class="track__min">2 mins ago</div>
            
                        <div class="track__added">
                          <div class="track-play">
                            <i class="ion-ios-play play la-2x"></i>
                          </div>
            
            
            
                        </div>
            
            
                      </div>

                      <div class="track">
      
                          <div class="track__art">
              
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/tth.jpg" alt="These Things Happen">
              
                          </div>
                          <div class="track__name">Song Tittle
              
                            <div class="small text-light text-grey">.mp3</div>
                          </div>
              
                          <div class="track__min">sat 2:39 pm </div>
              
                          <div class="track__added">
                            <div class="track-play">
                              <i class="ion-ios-play play la-2x"></i>
                            </div>
              
              
              
                          </div>
              
              
                        </div>

              </div>
      
      
      
      
            </div>
          </div>

          <!-- Media Added end -->

    </div>


  </div>


<!-- 
  secound row start  -->
  <div class="row m-0 pad-20">



<div class="col-md-4">
    <!-- Media Added start  -->
    <div class="card ">
        <h4 class="text-white">Most Played pitchlists <i class="la la-x la-angle-right"></i></h4>
        <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/g-eazy.png" class="card-img-top" > -->
        <div class="card-body p-1">
  
          <div class="MP_pitchlist text-white" [ngStyle]="{'background-image': 'url(' + photo + ')'}">
              <div class="row">
                  <div class="col-md-8  ">
                    <div class="h3 font-weight-bold text-white mp_pitchlist_padding">Top PitchList</div>
                    <small class="mp_pitchlist_padding">Artist Names goes Here</small>
                  </div>
                  <div class="col-md-4 text-right  ">
                    <i class="la la-2x la-edit "></i>
                    <i class="la la-2x la-external-link"></i>
        
                  </div>
                </div>
          </div>

          <div class="MP_pitchlist text-white" [ngStyle]="{'background-image': 'url(' + topSongPhoto + ')'}">
              <div class="row">
                  <div class="col-md-8  ">
                    <div class="h3 font-weight-bold text-white mp_pitchlist_padding">Top PitchList</div>
                    <small class="mp_pitchlist_padding">Artist Names goes Here</small>
                  </div>
                  <div class="col-md-4 text-right text-light-grey ">
                    <i class="la la-2x la-edit "></i>
                    <i class="la la-2x la-external-link"></i>
        
                  </div>
                </div>
          </div>
  
          <div class="MP_pitchlist text-white " [ngStyle]="{'background-image': 'url(' + photo + ')'}">
              <div class="row">
                  <div class="col-md-8  ">
                    <div class="h3 mp_pitchlist_padding font-weight-bold text-white">Top PitchList</div>
                    <small class="mp_pitchlist_padding">Artist Names goes Here</small>
                  </div>
                  <div class="col-md-4 text-right text-light-grey ">
                    <i class="la la-2x la-edit "></i>
                    <i class="la la-2x la-external-link"></i>
        
                  </div>
                </div>
          </div>
  
        </div>
      </div>

      <!-- Media Added end -->

</div>

<div class="col-md-4">
          <!-- Most Played Media start  -->
          <div class="card ">
              <h4 class="text-white">Most Played Media  <i class="la la-x la-angle-right"></i></h4>
              <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/g-eazy.png" class="card-img-top" > -->
              <div class="card-body p-1">
        
                <div class="tracks">
        
                  <div class="track">
        
                    <div class="track__art">
        
                      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/whenDarkOut.jpg" alt="When It's Dark Out">
        
                    </div>
                    <div class="track__name">Song Tittle
        
                      <div class="small text-light text-grey">.mp3</div>
                    </div>
        
                    <div class="track__min text-right">2,239</div>
        
                    <div class="track__added">
                      <div class="track-play">
                        <i class="ion-ios-play play la-2x"></i>
                      </div>
        
        
        
                    </div>
        
        
                  </div>
        
                  <div class="track">
        
                    <div class="track__art">
        
                      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/tth.jpg" alt="These Things Happen">
        
                    </div>
                    <div class="track__name">Song Tittle
        
                      <div class="small text-light text-grey">.mp3</div>
                    </div>
        
                    <div class="track__min text-right">20 </div>
        
                    <div class="track__added">
                      <div class="track-play">
                        <i class="ion-ios-play play la-2x"></i>
                      </div>
        
        
        
                    </div>
        
        
                  </div>
                  <div class="track">
        
                      <div class="track__art">
          
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/whenDarkOut.jpg" alt="When It's Dark Out">
          
                      </div>
                      <div class="track__name">Song Tittle
          
                        <div class="small text-light text-grey">.mp3</div>
                      </div>
          
                      <div class="track__min text-right">23</div>
          
                      <div class="track__added">
                        <div class="track-play">
                          <i class="ion-ios-play play la-2x"></i>
                        </div>
          
          
          
                      </div>
          
          
                    </div>
                
  
                    <div class="track">
        
                        <div class="track__art">
            
                          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/tth.jpg" alt="These Things Happen">
            
                        </div>
                        <div class="track__name">Song Tittle
            
                          <div class="small text-light text-grey">.mp3</div>
                        </div>
            
                        <div class="track__min text-right">23</div>
            
                        <div class="track__added">
                          <div class="track-play">
                            <i class="ion-ios-play play la-2x"></i>
                          </div>
            
            
            
                        </div>
            
            
                      </div>
  
                      <div class="track">
        
                          <div class="track__art">
              
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/whenDarkOut.jpg" alt="When It's Dark Out">
              
                          </div>
                          <div class="track__name">Song Tittle
              
                            <div class="small text-light text-grey">.mp3</div>
                          </div>
              
                          <div class="track__min text-right">23</div>
              
                          <div class="track__added">
                            <div class="track-play">
                              <i class="ion-ios-play play la-2x"></i>
                            </div>
              
              
              
                          </div>
              
              
                        </div>
  
                        <div class="track">
        
                            <div class="track__art">
                
                              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/tth.jpg" alt="These Things Happen">
                
                            </div>
                            <div class="track__name">Song Tittle
                
                              <div class="small text-light text-grey">.mp3</div>
                            </div>
                
                            <div class="track__min text-right">2332</div>
                
                            <div class="track__added">
                              <div class="track-play">
                                <i class="ion-ios-play play la-2x"></i>
                              </div>
                
                
                
                            </div>
                
                
                          </div>
  
                </div>
        
        
        
        
              </div>
            </div>
  
            <!-- Most Played Media end -->
  
      </div>
  
      <div class="col-md-4">
          <!-- Most Engaged start  -->
          <div class="card ">
              <h5 class="text-white">Most Engaged <i class="la la-x la-angle-right"></i></h5>
              <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/g-eazy.png" class="card-img-top" > -->
              <div class="card-body p-1">
        
                <div class="tracks">
        
                  <div class="track">
        
                    <div class="track__art pa-le-10">
                      <span class="fa fa-2x fa-user-circle-o"></span>
        
                      <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/whenDarkOut.jpg" alt="When It's Dark Out"> -->
        
                    </div>
                    <div class="track-user">Song Tittle
        
                      <div class="small text-light text-grey">.mp3</div>
                    </div>
        
                   
        
                    <div class="track__added">
                      45
                      <!-- <div class="track-play">
                        <i class="ion-ios-play play la-2x"></i>
                      </div> -->
                    </div>
                    <div class="track_Played text-right">Media Played <i class="la la-x la-angle-right"></i> </div>
        
                  </div>
        
                  <div class="track">
        
                      <div class="track__art pa-le-10">
                        <span class="fa fa-2x fa-user-circle-o"></span>
          
                        <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/whenDarkOut.jpg" alt="When It's Dark Out"> -->
          
                      </div>
                      <div class="track-user">Song Tittle
          
                        <div class="small text-light text-grey">.mp3</div>
                      </div>
          
                     
          
                      <div class="track__added">
                        45
                        <!-- <div class="track-play">
                          <i class="ion-ios-play play la-2x"></i>
                        </div> -->
                      </div>
                      <div class="track_Played text-right">Media Played <i class="la la-x la-angle-right"></i> </div>
          
                    </div>

                    <div class="track">
        
                        <div class="track__art pa-le-10">
                          <span class="fa fa-2x fa-user-circle-o"></span>
            
                          <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/whenDarkOut.jpg" alt="When It's Dark Out"> -->
            
                        </div>
                        <div class="track-user">Song Tittle
            
                          <div class="small text-light text-grey">.mp3</div>
                        </div>
            
                       
            
                        <div class="track__added">
                          45
                          <!-- <div class="track-play">
                            <i class="ion-ios-play play la-2x"></i>
                          </div> -->
                        </div>
                        <div class="track_Played text-right">Media Played <i class="la la-x la-angle-right"></i> </div>
            
                      </div>

                      <div class="track">
        
                          <div class="track__art pa-le-10">
                            <span class="fa fa-2x fa-user-circle-o"></span>
              
                            <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/whenDarkOut.jpg" alt="When It's Dark Out"> -->
              
                          </div>
                          <div class="track-user">Song Tittle
              
                            <div class="small text-light text-grey">.mp3</div>
                          </div>
              
                         
              
                          <div class="track__added">
                            45
                            <!-- <div class="track-play">
                              <i class="ion-ios-play play la-2x"></i>
                            </div> -->
                          </div>
                          <div class="track_Played text-right">Media Played <i class="la la-x la-angle-right"></i> </div>
              
                        </div>
                    
                        <div class="track">
        
                            <div class="track__art pa-le-10">
                              <span class="fa fa-2x fa-user-circle-o"></span>
                
                              <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/whenDarkOut.jpg" alt="When It's Dark Out"> -->
                
                            </div>
                            <div class="track-user">Song Tittle
                
                              <div class="small text-light text-grey">.mp3</div>
                            </div>
                
                           
                
                            <div class="track__added">
                              45
                              <!-- <div class="track-play">
                                <i class="ion-ios-play play la-2x"></i>
                              </div> -->
                            </div>
                            <div class="track_Played text-right">Media Played <i class="la la-x la-angle-right"></i> </div>
                
                          </div>
                          <div class="track">
        
                              <div class="track__art pa-le-10">
                                <span class="fa fa-2x fa-user-circle-o"></span>
                  
                                <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/whenDarkOut.jpg" alt="When It's Dark Out"> -->
                  
                              </div>
                              <div class="track-user">Song Tittle
                  
                                <div class="small text-light text-grey">.mp3</div>
                              </div>
                  
                             
                  
                              <div class="track__added">
                                45
                                <!-- <div class="track-play">
                                  <i class="ion-ios-play play la-2x"></i>
                                </div> -->
                              </div>
                              <div class="track_Played text-right">Media Played <i class="la la-x la-angle-right"></i> </div>
                  
                            </div>
                </div>
        
        
        
        
              </div>
            </div>
  
            <!-- Most Engaged end -->
  
      </div>

  </div>